$font-main: "Asap", sans-serif;
$font-second: "Josefin Slab", serif;

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: $font-second;
  font-weight: 500;
}
body {
  background-color: darkgray;
}

.submitbutton, .form, .lyrics{
  display:grid;
  align-items: center;
  justify-content: center;
}

.submitbutton{
  margin:auto;
}

.text{
  display:flex;
  align-items: center;
  justify-content: center;
}

.form{
  border:2px solid black;
}